$app-primary: #2c4155;
$secondary: #ffffff;
$dark-grey: #6b6b6b;
$flyout-color: #2c4155;

$default: rgb(255, 255, 255);
$primary: rgb(0, 102, 204);
$success: rgb(33, 184, 84);
$warning: rgb(235, 182, 28);
$danger: rgb(219, 48, 48);
$info: rgb(5, 178, 181);

$break-xs: 0;
$break-sm: 600px;
$break-md: 960px;
$break-lg: 1280px;
$break-xl: 1920px;

$front: 500;
$back: -1;
